.preloader {
	margin: 0;
	padding: 0 32px;

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		margin: 0;
		list-style-type: none;
	}

	.sublist {
		padding-left: 18px;

		& > li:nth-child(2n+1) {
			margin-right: 28px;
		}
	}

	.subsublist {
		padding-left: 18px;

		& > li:nth-child(2n) {
			margin-right: 28px;
		}
	}

	span {
		display: block;
		margin-bottom: 12px;
		background-color: var(--bg-color);
		min-height: 20px;
	}
}