.toc-element {
	display: flex;
	padding-top: 8px;
	transition: background-color 200ms;
	background-color: transparent;
	list-style-type: none;

	&:hover {
		background-color: var(--bg-color);
	}

	&--selected {
		letter-spacing: -.4px;
		font-weight: bold;
	}

	&--highlighted {
		background-color: var(--bg-color);

		&:hover {
			background-color: var(--bg-color-dark);
		}
	}
}

.title {
	position: relative;
	cursor: pointer;
	font-size: 12px;
	line-height: 16px;
	padding: 0 0 8px 18px;
	margin: 0 32px;
	min-width: 0;
	text-decoration: none;
	color: var(--active-text-color);
}

.arrow {
	position: absolute;
	left: 0;
	vertical-align: middle;
	fill: var(--arrow-color);
	transition: transform .2s;
	flex: none;

	&--opened {
		transform: rotate(90deg);
	}
}
